body{background-color: #483D8B;  margin:auto;}
h2{background-color: #1c1c1c; color:#ffffff;
padding:10px;
font-family: arial;
text-align: center;}

.btn{height:50px; width:150px;
font-size: 18px;
color:#ffffff;
background-color: rgb(26, 124, 221);
border:none;
padding:5px;
border-radius: 5px;}

.card{padding:15px 30px 15px 30px;
margin:40px auto;
max-width:500px;
max-height:300px;
text-align: center;
background-color: #ffffff;
border-radius: 5px;
} 

p{font-family:'Segoe UI';
font-weight:400;
font-size: 20px;}

img{height:25px;
width:25px;
}